#welcome-page{
	text-align: center;
}
#welcome-page .container{
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	margin-top: 20px;	
}

#welcome-page #option-area{
	display: grid;
	grid-template-columns: 1.5fr 2fr
}

#welcome-page .error-label{
	display: block;
	color: rgb(243, 31, 31);
	min-height: 1em;
}

#welcome-page input{
	margin-bottom: 10px;
}