#welcome-page{
	text-align: center;
}
#welcome-page .container{
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	margin-top: 10%;
}

#welcome-page #option-area{
	display: grid;
	grid-template-columns: 1.5fr 2fr
}

input{
	margin-bottom: 10px;
}